			<header class="clearfix">
				<h1>{{ with .Site.Params.title }}{{ . | markdownify }}{{ end }}</h1>
				<p align=center>{{ with .Site.Params.subtitle }}{{ . | markdownify }}{{ end }}</p>
			</header>